@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display&family=Roboto&family=Rubik+Bubbles&family=Whisper&display=swap');




/* header */

.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
}


 .header_top{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    display: flex;
    background-color:rgb(243, 186, 63);
    z-index: 2;
} 

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    transition: all 0.6s;
}
.header__top-inner.sticky{
    height: 50px;
}
.header__box--left, .header__box--right{
    display: flex;
    align-items: center;

    
}
/* leftside header */
.header__box--left{
    padding-right: 75px;
}
.header__logo{
    font-size: 24px;
}
.header__logo span{
    font-size: 24px;
    font-weight: 900;
    margin-right: 5px;
    font-family: 'Inter';
}
.header__menu{
    margin-left: 30px;
    
}
.header__menu ul{
    display: flex;
    
}
.header__menu ul li{
    margin-left: 30px;
    position: relative;
}
.header__menu ul li:before {
    background-color: rgb(187, 177, 161); 
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 0px; 
    width: 0%;
    transition: all 0.5s ;
    transition-delay: 0.2s;
}
.header__menu ul li:hover:before{
    height: 3px;
    width: 100%;

}
.link-ease-in-out a:hover:after,
.link-ease-in-out a:focus:after {
    width: 100%;
}
.header__menu ul li a{
    font-weight: 500;
}

/* rightside header */
.header__text{
    margin-right: 30px;
   text-align: center;

}
.header__text a{
    display: flex;
    font-weight: 500;
   
  
     
}
.header__text a.header__phone{
    font-weight: 700;
    
   
}
 .header__text a.delivery{
    flex-direction:column-reverse;
   margin-left: auto;
} 

.header__text .header__phone:hover{
    transition:  0.4s; 
    color:#57544c;

}
.header__btn{
    display: flex;
    
}
.header__btn-menu{
    margin: 40px;
}
#cross{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
#cross.active{
    position: inherit;
    visibility: visible;
    opacity: 1;
}
.hide{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.header__search-form{
  
    transform: translateX(0%);
    
    width: 300px;
    height:45px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
   
}
.header__search-form.active{
   
    top:22%;
    left: 33%;
    opacity: 1;
    visibility: visible;
    transform: translateX(10%);
    margin-right: 75px;
    
}
.header__search-form input{
    width: 100%;
    height: 45px;
    background: transparent;
    color:#202020;
    border:1px solid #202020 ;
    outline: none;
}
.header__search-form:before{
    content: "\e986";
    font-family: 'icomoon';
    position: absolute;
    top: 15px;
    left: -20px;
    color:#202020;
    font-size: 16px;


}

/* categories */

.categories{
    padding-top:100px ;
    position: relative;
}
.categories__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:80px;
    overflow:hidden;

}
.categories__inner-left ul, .categories__inner-right ul{
    display: flex;

}
.categories__inner-left ul li{
    padding: 0 20px ;

}
.categories__inner-left ul li a{
    position: relative;
    /* font-size: 16px; */
}
.categories__inner-left ul a:hover, .categories__inner-right ul a:hover{
    font-weight: 700;

}
.categories__inner-submenu.categories__submenu{
    background-color: #f7d67b;
    position: absolute;
    left: 0;
    top:180px;
    width:100%;
    height:0;  
    overflow:hidden;
    transition: all 0.5s;
    z-index:1;
    
}
.categories__inner-submenu .categories__submenu-items{
    display: flex;
    align-items:center;
    margin:auto;
    /* margin-left: 1%; */
}
.categories__inner-submenu .categories__submenu-items .categories__submenu-item{
    padding-right: 20px;
    
    position: relative;
    font-size:14px;
    

}
.categories__inner .categories__menu-list li:hover .categories__inner-submenu.categories__submenu{
    height: 100px;
    
}

/* catalog btn */
.hamburger{
    position: relative;
    right: 50%;
    top:-5px;
    z-index:2;
    width: 18px;
    height: 8px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    transform: translateX(50%);
}
.hamburger__span.hamburger__span {
    height: 2px;
    background:#202020 ;
    transition: all 0.3s;
    backface-visibility: hidden;
    margin: 2px auto;
    

}

#one.on{
    transform: rotate(45deg) translateX(4px) translateY(-2px);
}
#two.on{
    opacity: 0;
}
#three.on{
    transform: rotate(-45deg) translateX(7px) translateY(-2px);
}


.off{
    opacity: 0;
    visibility: 0;
}
/* catalog bar */
/* .menu{
   
    position: fixed;
    top:0;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    opacity: 0;
    z-index: 0;
    
} */

.close-menu{
    position: fixed;
    margin: 1em;
    font-size: 16px;
    color: #57544c;
    z-index: 1;
}

.nav{
    height: auto;
    position: absolute;
    left: 0;
    margin-top: 5%;
    width: 100%;
    opacity: 0;
    background:  rgb(255, 255, 255);;
    z-index: 0;
    
}
.main-menu{
    padding-bottom: 100px;
}
.main-menu.main-menu-item{
    margin-top: auto;
}


.visible{
    position:absolute;
    height: 100vh;
    /* z-index: 1; */
    opacity: 1;
    transition: all 0.3s;
}


.sidebar__title{
   
    margin: 40px  0 50px 7%;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;

}
 .main-menu-item{
    
    padding-left: 5%;
    padding-bottom: 5px;
    padding-top: 10px;
    background-color:#f1f1ef;
    
    border-bottom: 1px solid #d6d6d6;
    
 }
 
 .main-menu .main-menu-item:nth-child(2){
    
    
    padding-bottom: 0px;
   
    border-top: 1px solid #d6d6d6;
    
    
 }

 

 
.sidebar__submenu{
    background-color: #f1f1ef;
    width:100%;
    overflow:hidden;
    transition: 0.5s;
    /* z-index:1; */
    display: inline-block;
    height: auto;
    max-height: 0;
    transition: max-height 1s;
    
}
.sidebar__submenu li{
    margin: 20px 0px;
    
   
}
.sidebar__submenu li a{
    color: #57544c;
   
   
}


/* .main-menu li:hover .sidebar__submenu{
    height: auto;
    max-height:500px;
} */

.opened{
    height: auto;
    max-height:500px;
}

/* slider */
.slider-item-img{

    
}
.slider-item{
  position: relative;
  max-width: 100%;
  max-width:1760px;
}
.info-slider__inner{
    
}
.slider-item-img{
    min-height: 787px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

.slider-item-info{
    width: 600px;
    position: absolute;
    top:200px;
    left:200px;
}

.slider-item-info .slider-item-title{
    margin-top: 20px;
    font-size: 50px;
    color: #202020;
}
.slider-item-subtitle{
    margin-top: 20px;
    font-size: 25px;
    color: #202020;
}
.slider-item-info a{
    padding: 11px 20px;
    box-shadow: 7px 12px 14px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #f7d67b;
    margin-top: 50px;
    font-size: 45px;
}
.slider-item-info a:hover{
   
    background-color: #f3d991;
    
}
.info-slider__inner .slick-arrow{
    position: absolute;
    top: 50%; 
    margin: -15px 0 0 0;
    z-index: 2;
    font-size: 0; 
    width:50px;
    height: 50px;
    border:none;
    background-color: transparent;
}

.slick-prev::before{
    content: "\ea40";
    font-size: 24px;
    font-family: 'icomoon';
}
.slick-next::before{
    font-family: 'icomoon';
    content: "\ea3c";
    font-size: 24px;
}
.slick-prev:hover{
   color: #57544c;
    
}
.slick-next:hover{
    color: #57544c;
    
}
.info-slider__inner .slick-arrow.slick-prev{
    left: 0;
    /* background: url('/img/icons8-left-100.png'); */
}

.info-slider__inner .slick-arrow.slick-next{
    right: 0; 
    /* background: url('/img/icons8-right-100.png'); */
    
}
 